/*html {*/
    /*overflow-x: hidden;*/
/*}*/
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #868585;
    background: #ffffff;
    font-weight: normal;
}
/*@font-face {*/
    /*font-family: Classic1;*/
    /*src: url("../fonts/Heather Script Two.ttf");*/
/*}*/
@font-face {
    font-family: Classic2;
    src: url("../fonts/Cassandra.ttf");
}
/*@font-face {*/
    /*font-family: Classic3;*/
    /*src: url("../fonts/Majestic X.ttf");*/
/*}*/
/*@font-face {*/
    /*font-family: Classic4;*/
    /*src: url("../fonts/Romantica script.ttf");*/
/*}*/
h1{
    font-weight: 100;
    line-height: 1.1;
    font-family: Classic2;
    font-size: 50px;
    color: orange;
}
h2{
    font-weight: 100;
    line-height: 1.1;
    font-family: Classic2;
    font-size: 40px;
    color: orange;
}
h3{
    font-family: inherit;
    font-weight: 100;
    line-height: 1.1;
    font-size: 25px;
    color: orange;
}
img{
    max-width: 100%;
    height: auto;
}
header{
    margin: 50px 0 80px;
}
.cont {
    padding: 0 20% 0 20%;
    text-align: center;
}
.marg {
    margin: 0;
}
.h2-pad {
    padding-bottom: 7%;
}
.panel-info {
    min-height: 130px;
    text-align: center;
}
.row-privil-two {
    padding: 0 10%;
}
.slider {
    margin: 50px 0;
}
#desc {
     float: left;
 }

#tel {
    float: right;
}

.privilege-block {
    margin: 5% 0px;
  }

.circle {
    width: 100px;
    height: 100px;
    background-color: #ff4000;
    border-radius: 50%;
}

.row-privil-two {
}

.img-wave-block {
   position: relative;
 }

.img-wave-block img{
    width: 100%;
}
.icon-privil img{
    width: 100px;
    height: auto;
}
.icon-setup img{
    width: 100px;
    height: auto;
}
#up {
}
#menu {
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
#menu ul{
    margin: 0;
}
#menu li
{ display: inline; }
#menu a {
    color: #868585;
    padding: 5px 10px;
    text-decoration: none;
    display: inline-block;
    /*width: 100px;*/
    text-transform: uppercase;
}
#menu a:hover, #menu #red:hover {
    border: 20px;
    color: orange;
}
#menu #red{
    color: darkred;
}
.portfol-block img{
    width: 400px;
    height: auto;
}
.order-user img{
    width: 100px;
    height: auto;
}
/*.tit {*/
    /*font-family: Mistral, Cursive;*/
    /*font-size: 50px;*/
    /*color: orange;*/
/*}*/
.row-privil-one, .row-privil-two, .text-setup {
    text-transform: uppercase;
}
.row-privil-one p, .row-privil-two p {
    padding: 5% 15% 0;
}
#text-privil {
    margin-right: 13px;
}
.portfol-block {
    margin: 10% 0 7%;
}
.goods-block, .info-block, .setup-block, .order-block, .about-block, .reviews-block, .contact-block  {
    margin: 7% 0;
}
.contact-block {
    margin-bottom: 10%;
}
#ta{
    height:400px;
    transition:all 1s;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
}
#ta2{
    height:1300px;
    transition:all 1s;
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover, .btn-primary {
    background-color: orange;
    border-color: orange;
}
.jumbotron p {
    margin-top: 20px;
}
.contact-block p {
    font-size: 14px;
}
.contact-block h3 {
    padding-bottom: 10px;
}
.row-goods {
    margin-top: 5%;
}
.order-btn {
    margin-top: 3%;
    background-color: orange;
    color: white;
    text-transform: uppercase;
}
.order-btn:hover {
    cursor: pointer;
    color: white;
    background-color: #0031de;
}
.user-name {
    font-weight: 700;
    font-size: 17px;
}
.icon-setup2 img{
    padding-top: 45px;
}
.text-setup {
    font-size: 14px;
}
.cont-setup {
    padding: 0 10% 0 15%;
    text-align: center;
}