/*html {*/
    /*overflow-x: hidden;*/
/*}*/
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    color: #868585;
    background: #ffffff;
    font-weight: normal;
}
img{
    max-width: 100%;
    height: auto;
}
header{
    margin: 50px 0 80px;
}
.cont {
    padding: 0 20% 0 20%;
    text-align: center;
}
.marg {
    margin: 0;
}
.panel-info {
    min-height: 50px;
    text-align: center;
}
.row-privil-two {
    padding: 0 10%;
}
.slider {
    margin: 50px 0;
}
#desc {
     float: left;
 }

#tel {
    float: right;
}

.privilege-block {
    /*width: 100%;*/
/*    height: 500px;*/
    /*background-color: white;*/
  }

.circle {
    width: 100px;
    height: 100px;
    background-color: #ff4000;
    border-radius: 50%;
}

.row-privil-two {
}

.img-wave-block {
   position: relative;
 }

.img-wave-block img{
    width: 100%;
}
.icon-privil img{
    width: 100px;
    height: auto;
}
.icon-setup img{
    width: 100px;
    height: auto;
}
#up {
    position: fixed;
    right: 0;
}